In [8]:
from sklearn.ensemble import RandomForestClassifier
import vk
import pandas as pd
import numpy as np
from multiprocessing import Process
import time
from datetime import date, datetime
from sklearn import preprocessing

In [9]:
FIRST_LIST=["Product manager",
         "IT-recruitment",
         "Робототехник",
         "Системный инженер",
         "Системный архитектор",
         "ERP",
         "Data scientist",
         "Backend",
         "UI",
         "Frontend"]
SECOND=["SMM",
          "Техническая поддержка",
          "информационной безопасности",
          "Сисадмин",
          "Бизнес аналитик",
          "qa engineer",
          "Технический писатель",
          "Junior Developer",
          "3d",
          "SEO"]
THIRD=["Product manager",
         "Робототехник",
         "Системный архитектор",
         "Data scientist",
         "UI","SMM",
          "информационной безопасности",
          "Бизнес аналитик",
          "Технический писатель",
          "3d"]
FORTH=["IT-recruitment",
         "Системный инженер",
         "ERP",
         "Backend",
         "Frontend",
          "Техническая поддержка",
          "Сисадмин",
          "qa engineer",
          "Junior Developer",
          "SEO"
      ]
COLUMNS=['albums', 'alcohol', 'audios', 'city', 'country',
           'first_name', 'followers', 'followers_count', 'friends',
           'groups',
           'has_mobile', 'has_photo', 'langs', 'last_name', 'life_main',
           'notes',
           'pages', 'people_main', 'photos', 'political', 'relation',
           'schools',
           'sex', 'smoking', 'uid', 'universities',
           'videos', "wall_posts","age"]

In [10]:
def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

def preprocess(df):
    def drop_features(df):
        return df.drop(["trending","user_videos","Unnamed: 0","position", "bdate"],axis=1)
    def format_bdate(df):
        date = df["bdate"]
        ages = []
        
        for i in date:
            ag = 0
            if i != "-1":
                l = i.split(".")
                if len(l) == 3:
                    d = datetime.strptime(i, "%d.%m.%Y").date()
                    ag = calculate_age(d)
                else:
                    ag = -1
            ages.append(ag)    
        df["age"] = ages
        bins = (-2, 0, 5, 12, 18, 25, 35, 60, 120)
        group_names = ['Unknown', 'Baby', 'Child', 'Teenager', 'Student', 'Young Adult', 'Adult', 'Senior']
        categories = pd.cut(df.age, bins, labels=group_names)
        df.age = categories
        return df
    df=df[1:]
    df=format_bdate(df)
    df=drop_features(df)
    return df

In [11]:
def encode_features(df_train):
    features = ['first_name', 'last_name', "age"]
    df_combined = df_train[features]
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[feature])
        df_train[feature] = le.transform(df_train[feature])
    return df_train

In [17]:
clf1 = RandomForestClassifier()
clf2 = RandomForestClassifier()
COLUMNS2=COLUMNS.extend(["t1","t2"])

In [28]:
main=pd.DataFrame(index=[0],columns=COLUMNS2)
for i in FIRST_LIST:
    data_train=pd.read_csv("data/{}/full.csv".format(i))
    df_train=preprocess(data_train)
    df_train = encode_features(df_train)
    df_train["t1"] = [0] * len(df_train.index)
    if i in THIRD:
        df_train["t2"] = [0] * len(df_train.index)
    else:
        df_train["t2"] = [1] * len(df_train.index)
    main=pd.concat([main,df_train])[1:]
main.to_csv("data/_full{}.csv".format(0))
for i in SECOND:
    data_train=pd.read_csv("data/{}/full.csv".format(i))
    df_train=preprocess(data_train)
    df_train = encode_features(df_train)
    df_train["t1"] = [1] * len(df_train.index)
    if i in THIRD:
        df_train["t2"] = [0] * len(df_train.index)
    else:
        df_train["t2"] = [1] * len(df_train.index)
    main=pd.concat([main,df_train])
    
main.to_csv("data/_full{}.csv".format(1))

/Users/macbook/virtualenvs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/macbook/virtualenvs/myenv/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [29]:
X_all=main
y1=main['t1']
y2=main['t2']
X1=X_all.drop(["t2"],axis=1)
X2=X_all.drop(["t1"],axis=1)
X_all.isnull().values.any()

False

In [31]:
X_all.head()

,age,albums,alcohol,audios,city,country,first_name,followers,followers_count,friends,...,relation,schools,sex,smoking,t1,t2,uid,universities,videos,wall_posts
10,4.0,8.0,3.0,361.0,2.0,1.0,267.0,1980.0,1980.0,565.0,...,0.0,1.0,1.0,2.0,0.0,0.0,108296.0,2.0,114.0,2456.0
11,4.0,0.0,-1.0,0.0,169.0,1.0,375.0,1883.0,1883.0,21.0,...,-1.0,-1.0,2.0,-1.0,0.0,0.0,131762193.0,-1.0,53.0,81.0
12,5.0,3.0,5.0,705.0,1.0,1.0,83.0,2287.0,2287.0,491.0,...,4.0,1.0,2.0,4.0,0.0,0.0,1459607.0,2.0,92.0,3920.0
13,4.0,2.0,-1.0,0.0,650.0,2.0,286.0,1767.0,1767.0,301.0,...,-1.0,-1.0,1.0,-1.0,0.0,0.0,50759609.0,-1.0,649.0,1010.0
14,4.0,0.0,-1.0,0.0,1.0,1.0,411.0,2579.0,2579.0,1783.0,...,-1.0,-1.0,1.0,-1.0,0.0,0.0,16058101.0,-1.0,85.0,137.0

In [30]:
clf1.fit(X1,y1)
clf2.fit(X2,y2)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [32]:
import pickle
s1 = pickle.dumps(clf1)
s2 = pickle.dumps(clf2)

In [33]:
from sklearn.externals import joblib
joblib.dump(clf1, 'clf1.pkl') 
joblib.dump(clf2, 'clf2.pkl')

['clf2.pkl']